<!DOCTYPE html>
<html>
<head>
    <title>Birthdate Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <script src="{% static 'base/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>  </body>
</html>
